<div class="jumbotron"  style="background-image:url(assets/bg.jpg)">
    <h1 class="text-dark bg-light text-center ">Courses</h1>
    <form #ref="ngForm">
        <table class="mx-auto mt-5 text-dark ">
            <tr>
                <td>
                <label for="one" class="text-white pt-4">Course Name :</label>
                </td>
                <td>
                <input type="text" id="one" name="coursename" placeholder="enter name here" class="form-control pd-5" [(ngModel)]="coursename">
                </td>
            </tr>
            <tr>
                <td>
                <label for="four" class="text-white pt-4" >Courses Details : </label>
                </td>
                <td>
                <textarea  name="cdetailes" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5" [(ngModel)]="cdetailes"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                <label for="two" class="text-white pt-4" >Course Author : </label>
                </td>
                <td>
                <input type="text" id="two" name="authorname" placeholder="enter name here" class="form-control pd-5" [(ngModel)]="authorname" >
                </td>
            </tr>
            <tr>
                <td>
                <label for="four" class="text-white pt-4" >Author Detailes : </label>
                </td>
                <td>
                <textarea  name="adetailes" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5"[(ngModel)]="adetailes"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                <label for="five" class="text-white pt-4" >Author Image : </label>
                </td>
                <td>
                <input type="file" id="five" name="authorimg" placeholder="place here" class="form-control pd-5"[(ngModel)]="authorimg">
                </td>
            </tr>
            <tr>
                <td>
                <label for="three" class="text-white pt-4" > Enter Price : </label>
                </td>
                <td>
                <input type="text" id="three" name="price" placeholder="enter name here" class="form-control pd-5"[(ngModel)]="price" >
                </td>
            </tr>
            <tr>
                <td>
                <label for="four" class="text-white pt-4" >Uses : </label>
                </td>
                <td>
                <textarea  name="uses" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5"[(ngModel)]="uses"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                <label for="five" class="text-white pt-4">Sample File : </label>
                </td>
                <td>
                <input type="file" id="five" name="samplefile" placeholder="place here" class="form-control pd-5" [(ngModel)]="samplefile">
                </td>
            </tr>
            <tr>
                <td>
                <label for="five" class="text-white pt-4" >Main File : </label>
                </td>
                <td>
                <input type="file" id="five" name="mainfile" placeholder="place here" class="form-control pd-5"[(ngModel)]="mainfile">
                </td>
            </tr>
            <tr>
                <td></td>
                <td> 
                    <button type="button" class="btn btn-success" (click)="submit()" >Add</button>
                </td>
            </tr>
        </table>
    </form>    
    <div class="row mt-3">              
        <h1 class="text-danger text-center pt-5 " style="text-decoration:underline" >Courses Detailes</h1>
            <table class="table table pt-5">
            <thead>
                <!-- <th>courseid</th> -->
                <th>Course Name</th>
                <th>Author Name</th>
                <th>Auther Detailes</th>
                <th>Author Image</th>
                <th>Price</th>
                <th>Uses</th>
                <th>Sample File</th>
                <th>Main File </th>
                <th>Delete</th>
                <th>Update</th>
            </thead>
            <tr *ngFor="let i of obj;let x=index ;" >
                <!-- <td>{{i.courseid}}</td> -->
                <td>{{i.coursename}}</td>
                <td>{{i.authorname}}</td>
                <td>{{i.adetailes}}</td>
                <td>{{i.autohrimg}}</td>
                <td>{{i.price}}</td>
                <td>{{i.uses}}</td>
                <td>{{i.samplefile}}</td>
                <td>{{i.mainfile}}</td>
                <td><button (click)="delete(i)" class="btn btn-danger" >X</button></td>
                <td><button (click)="editdata(i)" class="btn btn-primary" data-toggle="modal" data-target="#m">Edit</button></td>
            </tr>
            </table>
    <router-outlet></router-outlet>
        </div>
        </div>
        
        
        
        
<div class="modal" id="m">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <div *ngIf="t">
            <div class="jumbotron bg-secondary">
            <h3 class="text-center" style="text-decoration:underline ; color:darkmagenta;">Edit Courses</h3>
            <form  >
                <table class="mx-auto mt-5 text-dark ">
                    <!-- <tr>
                        <td>
                        <label for="one" class="text-white pt-4">Course Id :</label>
                        </td>
                        <td>
                        <input type="text" id="one" name="courseid" placeholder="enter name here" class="form-control pd-5" [(ngModel)]=data.courseid>
                        </td>
                    </tr> -->
                    <tr>
                        <td>
                        <label for="four" class="text-white pt-4" >Courses Name : </label>
                        </td>
                        <td>
                        <input type="text" name="coursename" id="four" placeholder="enter here" class="form-control pd-5" [(ngModel)]="data.coursename" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="four" class="text-white pt-4" >Courses Details : </label>
                        </td>
                        <td>
                        <textarea  name="cdetailes" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5" [(ngModel)]="data.cdetailes"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="two" class="text-white pt-4" >Course Author : </label>
                        </td>
                        <td>
                        <input type="text" id="two" name="authorname" placeholder="enter name here" class="form-control pd-5" [(ngModel)]="data.authorname" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="four" class="text-white pt-4" >Author Detailes : </label>
                        </td>
                        <td>
                        <textarea name="adetailes" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5" [(ngModel)]="data.adetailes"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="five" class="text-white pt-4" >Author Image : </label>
                        </td>
                        <td>
                        <input type="file" id="five" name="authorimg" placeholder="place here" class="form-control pd-5" [(ngModel)]="data.authorimg" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="three" class="text-white pt-4" > Enter Price : </label>
                        </td>
                        <td>
                        <input type="text" id="three" name="price" placeholder="enter name here" class="form-control pd-5"[(ngModel)]="data.price" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="four" class="text-white pt-4" >Uses : </label>
                        </td>
                        <td>
                        <textarea  name="uses" id="four" rows="4" cols="4" placeholder="enter here" class="form-control pd-5" [(ngModel)]="data.uses"></textarea>
                        </td>
                    </tr>                    
                    <tr>
                        <td>
                        <label for="five" class="text-white pt-4">Sample File : </label>
                        </td>
                        <td>
                        <input type="file" id="five" name="samplefile" placeholder="place here" class="form-control pd-5" [(ngModel)]="data.samplefile">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="five" class="text-white pt-4" >Main File : </label>
                        </td>
                        <td>
                        <input type="file" id="five" name="mainfile" placeholder="place here" class="form-control pd-5" [(ngModel)]="data.mainfile">
                        </td>
                    </tr>
                    <tr>
                        <button type="submit" class="close" data-dismiss="modal" class="btn btn-scucess" (click)="saveCourse(v)">Save</button>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
        
        