<div class="container-fluid">
    <div class="row mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-sm-5">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Dennis_Ritchie_2011.jpg/220px-Dennis_Ritchie_2011.jpg"
                        width="350px"height="300px" alt="Image of author">       
                </div>
                <div class="col-sm-7">
                        <h2 class="card-title mb-3" style="color: #339966"> Author: Dennis Ritchie</h2>
                        Jump to C and Unix - Ritchie is best known as the creator of the C programming language,
                        a key developer of the Unix operating system, and co-author of the book The C Programming Language; 
                        he was the 'R' in K&R (a common reference to the book's authors Kernighan and Ritchie).
                        Ritchie worked together with Ken Thompson, who is credited with writing the original version of Unix; 
                        one of Ritchie's most important contributions to Unix was its porting to different machines and platforms. 
                        They were so influential on Research Unix that Doug McIlroy later wrote, "The names of Ritchie and 
                        Thompson may safely be assumed to be attached to almost everything not otherwise attributed."                             
                </div>
                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-5">
                        <img src="https://pbs.twimg.com/media/Db17T0yWsAAE0t-.jpg" width="350px"height="300px" 
                        alt="Image of author">             
                    </div>
                    <div class="col-sm-7">
                        <h2 class="card-title mb-3" style="color: #339966"> Author: Bjarne Stroustrup</h2>
                        Before the initial standardization in 1998, C++ was developed by Bjarne Stroustrup at Bell Labs since 1979,
                        as an extension of the C language as he wanted an efficient and flexible language similar to C, 
                       which also provided high-level features for program organization. 
                       Stroustrup began developing C++ in 1979 (then called "C with Classes"), and, in his own words, 
                       "invented C++, wrote its early definitions, and produced its first implementation. chose and formulated the design criteria for C++, 
                       designed all its major facilities, and was responsible for the processing of extension proposals in the C++ standards committee.
                        Stroustrup also wrote a textbook for the language, The C++ Programming Language.                                                     
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-5">
                        <img src="http://nighthacks.com/jag/bio/JamesInViennaEnjoyingBeer.jpg" 
                        width="350px"height="300px" alt="Image of author">             
                    </div>
                    <div class="col-sm-7">
                            <h2 class="card-title mb-3" style="color: #339966"> Author: James Gosling</h2>
                            Java was originally developed by James Gosling at Sun Microsystems  
                            (which has since been acquired by Oracle Corporation) and released in 1995 as a core component <br>
                             of Sun Microsystems' Java platform. The language derives much of its syntax from C and C++, 
                           but it has fewer low-level facilities than either of them. 
                           Gosling initially became known as the author of Gosling Emacs, and also invented the windowing system NeWS, 
                           which lost out to X Window because Sun did not give it an open source license.
                            He is generally credited with having invented the Java programming language in 1994.                                                           
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-5">
                     <img src="https://pluralsight.imgix.net/author/lg/deborah-kurata-v1.jpg?w=200" 
                     width="350px"height="300px" alt="Image of author"><br>                   
                    </div>
                    <div class="col-sm-7">
                     <h2 class="card-title mb-3" style="color: #339966"> Author:Deborah Kurata</h2>
                     On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview. 
                     Angular 2 moved to Beta in December 2015,and the first release candidate was published in May 2016.
                     Deborah is a software developer specializing in Angular, TypeScript, and related technologies. 
                     She speaks at conferences and user groups around the world and has written several books on object-oriented programming.                                                                        
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-5">
                        <img src="https://miro.medium.com/max/1216/1*ZsNjJ6YCyTAWNA3RGYCtaw.png" 
                        width="350px"height="300px"  alt="Image of author">                       
                    </div>
                    <div class="col-sm-7 mt-3">
                        The term MEAN stack refers to a collection of JavaScript based technologies 
                        used to develop web applications.
                        s an acronym for MongoDB, ExpressJS, AngularJS and Node.js.
                        From client to server to database, MEAN is full stack JavaScript.
                        MEAN applications can be written in one language for both server-side and client-side execution environments.
                        The acronym MEAN was coined by Valeri Karpov, a MongoDB developer. He introduced the term in a 2013 blog post.
                                                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>